#signup{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    background-color:#f1f1f1;
    box-sizing: inherit;    
}

.FormField{
    display: block;
}
.submit{
    padding: 5px;
    font-size: 16px;
    margin: 1%;
}

.submit:disabled{
    background-color: #cccccc;
}