.orders{
    margin-top: 90px;
}
.order{
    display:block;
    box-shadow: 0px 0px 5px 1px darkgrey;
    width:80%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    height: fit-content;
}

.orderItem .image{ 
    float: left;
    width: 120px;;
    height: 180px;}

.orderItem .info{
    margin-left: 100px;
    display: inline-block;
    text-align: left;
}

.order .orderItem{
    width: 50%;
    display: table;
    clear: both;
    padding: 30px;
}

.name{font-weight: bold;}

.price{font-weight: bold;}

h3, .orderItem .category, .orderItem .quantity{display: inline;}

.topLoader{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%
}

.orderedOn{float: right;}