#loadMoreBtn{
    width:90%;
    color: white;
    padding: 12px;  
    border:1px hidden;
    font-size: 20px;
    background-color: rgb(49, 157, 219);
    border-radius: 5px;
    margin: 10px;
}

.displayProducts{
    margin-top: 7%;
    font-size: 20px;
}

.topLoader{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%
}

.bottomLoader{
    width: fit-content;
    height: fit-content;
    margin: auto;
}